<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/coclogo"
        android:label="CoC Messenger"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyAndroidApplication"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".viewModel.ChangeTag"
            android:exported="false" />
        <activity
            android:name=".viewModel.RatingActivity"
            android:exported="false" />
        <activity
            android:name=".viewModel.TutorialActivity"
            android:label="@string/title_activity_tutorial"
            android:exported="false" />
        <activity
            android:name=".viewModel.AboutActivity"
            android:label="@string/title_activity_about"
            android:exported="false" />
        <activity
            android:name=".viewModel.ManualApiKeyActivity"
            android:exported="false" />
        <activity
            android:name=".viewModel.SettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".viewModel.MainActivity" />
        <activity
            android:name=".viewModel.LeaderboardsActivity"
            android:exported="false" />
        <activity
            android:name=".viewModel.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.view.MainActivity" />
        <activity
            android:name=".viewModel.ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".viewModel.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".viewModel.SignUp"
            android:exported="false" />
        <activity
            android:name=".viewModel.Login"
            android:exported="true"
            android:theme="@style/Theme.view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="android.app.lib_name"
            android:value="" />

        <activity
            android:name=".viewModel.ChatList"
            android:exported="true" />

        <!--        <service-->
        <!--            android:name=".viewModel.MyFirebaseMessagingService"-->
        <!--            android:exported="false">-->
        <!--            <intent-filter>-->
        <!--                <action android:name="com.google.firebase.MESSAGING_EVENT" />-->
        <!--            </intent-filter>-->
        <!--        </service>-->

    </application>

</manifest>